<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554727031394-9b9e5n14ovbcpr2ldhd0qbd23ia12kcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554727031394-9b9e5n14ovbcpr2ldhd0qbd23ia12kcu</string>
	<key>API_KEY</key>
	<string>AIzaSyCfpUuv5G5RDdA5c8UP7KPbgDK1G7vNzEs</string>
	<key>GCM_SENDER_ID</key>
	<string>554727031394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-ccd54</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-ccd54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554727031394:ios:84efcd0c879dc30bf7c73b</string>
</dict>
</plist>